/*

App.css - the css for the app itself
Copyright (C) 2021  William R. Moore <william@nerderium.com>

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see <https://www.gnu.org/licenses/>.

*/

.App {
    text-align: center;
  }
  
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
  }
  .mdc-tab--active .mdc-tab__text-label {
    color: white;
  }

.mdc-tab--active .mdc-tab-indicator .mdc-tab-indicator__content--underline {
  border-color: white;
}

  .App-section {
    padding-top: 9em;
  }
  
  .App-title {
    font-size: 1.5em;
  }
  
  .App-subtitle {
    font-size: 1.0em;
  }
  
  .App-intro {
    font-size: large;
  }
  
  .button-bar {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .button-bar > Button {
    margin: 10px;
  }
  
  .player-list {
    overflow-y: scroll;
    max-height: 200px;
    height: 200px;
  }
  
  .player-list-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  @keyframes App-logo-spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
  }